*{
  box-sizing: border-box;
  font-family: 'Open Sans', serif;
  color: #fff;
  list-style: none;
}

a {
  color: #4285F4;
}

body {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ) , url(../img/ocean-bg.jpg) ;
}

header {
  border: solid white;
  border-width: 0 0 3px 0;
  position: sticky;
  top: 0px;
  z-index: 99;
  background-color: black;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 3px 50px;
}

.brand img {
  width: 70px;
  height: auto;
}

.fullcontainer{
  position: relative;
}

.heading {
  text-align: center;
  font-size: 25px;
}

h1 {
  color: #EEB300;
}

.details h2 {
  color: #F0A500;
  font-size: 25px;
  margin-bottom: 0px;
}

.details p {
  font-size: 20px;
  margin-top: 0px;
}

/* .details p {
  color: #DEF3F6 ;
} */

.container .image-container{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.container .image-container .image{
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  overflow: hidden;
  cursor: pointer;
}

.container .image-container .image img{
  height: auto;
  width: 70%;
  object-fit: cover;
  transition: .2s linear;
}

.container .popup-image{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.container .popup-image span{
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

.container .popup-image img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 8px solid #fff;
  border-radius: 8px;
  width: 750px;
  object-fit: cover;
  padding: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media  (max-width:768px) {
  .container .popup-image img{
    width: 300px;
  }
  .container .image-container .image img{
    width: 100%;
  }
  h1 {
    font-size: 35px;
  }
}

@media  (min-width:768px) {
  h1 {
    padding: 0 3.9%;
  }
  .img-and-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .site-header__wrapper ul {
    display: flex;
    justify-content: space-around;
    gap: 100px;
  }
}
.popup-image span{
  background: rgba(0,0,0,0.9);
}

.details, .content {
  padding: 0 3.8% 5%;
}

img {
  display: block;
  margin-left: auto;
}